---
layout: default
title: Home
---

<table>
<tbody>
	<tr>
		{% include header.html %}
	</tr>
	<tr>
		<p>
		I am Kaixin Yang (杨凯欣), a Ph.D. candidate in <a href="https://descyphy.usc.edu/">DesCyPhy Lab</a> at University of Southern California (USC), advised by <a href="https://www2.eecs.berkeley.edu/Faculty/Homepages/pnuzzo.html">Prof. Pierluigi Nuzzo</a>. I am interested in hardware security and trustworthy hardware design, as well as machine learning (ML)-based approaches to them. Recently, I focus on logic locking for gate-level VLSI design, Satisfiability (SAT) based attacks and ML-based attacks on encrypted design, secure high level synthesis, metrics for evaluating and guiding trustworthy design, and design space exploration for risk-free hardware design.
		<!--Welcome to my blog! I am 杨凯欣 (Kaixin Yang, pronounced as /kæ'ʃɪn jʌŋ/, and please feel free to call me Cayson), a third year Ph.D. student in <a href="https://descyphy.usc.edu/">DesCyPhy Lab</a> at USC, advised by <a href="https://viterbi.usc.edu/directory/faculty/Nuzzo/Pierluigi">Prof. Pierluigi Nuzzo</a>. -->
		</p>
	</tr>
</tbody>
</table>

<h4 style="text-align:left">EDUCATION</h4>
<table>
<tbody>
	<tr>
		<td>2025</td>
		<td>Ph.D. candidate, Computer Engineering, USC</td>
	</tr>
	<tr>
		<td>2021</td>
		<td>Master's Degree, Electrical Engineering, USC</td>
	</tr>
	<tr>
		<td>2019</td>
		<td>Bachelor's Degree, Electronic and Information Science and Technology, Peking University (PKU)</td>
	</tr>
</tbody>
</table>

<!-- <p>2024 | Ph.D. student, Computer Engineering, USC</p>
<p>2021 | Master's Degree, Electrical Engineering, USC</p>
<p>2019 | Bachelor's Degree, Electronic and Information Science and Technology, Peking University</p> -->

<h4 style="text-align:left">EXPERIENCE</h4>
<table>
<tbody>
	<tr>
		<td>May24 - Present</td>
		<td>CAD Intern, Intel</td>			
	</tr>
	<tr>
		<td>Aug20 - Present</td>
		<td>Research Assistant, USC</td>
	</tr>
	<tr>
		<td>Spring22</td>
		<td>Teaching Assistant, <a href="https://classes.usc.edu/term-20221/classes/ee">EE577a</a>, USC</td>
	</tr>
	<tr>
		<td>Spring19</td>
		<td>Teaching Assistant, Practice for Programming, PKU</td>
	</tr>
	<tr>
		<td>Fall21</td>
		<td>Teaching Assistant, <a href="https://classes.usc.edu/term-20213/classes/ee">EE477L</a>, USC</td>
	</tr>
	<tr>
		<td>Summer23</td>
		<td><a href="https://viterbiundergrad.usc.edu/diversity/center-for-engineering-diversity/vsi/">VSI</a> Program Mentor, USC</td>
	</tr>
	<tr>
		<td>Summer23, Summer22</td>
		<td><a href="https://viterbik12.usc.edu/shine/">SHINE</a> Program Mentor, USC</td>
	</tr>
	<tr>
		<td>Spring24, Fall22, Fall21</td>
		<td><a href="https://classes.usc.edu/term-20223/classes/ee">EE581</a> Project Mentor, USC</td>
	</tr>
</tbody>
</table>

<!-- <p>Aug 2020 - Present | Research Assistant, USC</p>
<p>Jan-May 2022 | Teaching Assistant, <a href="https://classes.usc.edu/term-20221/classes/ee">EE577a</a>, USC</p>
<p>Aug-Dec 2021 | Teaching Assistant, <a href="https://classes.usc.edu/term-20213/classes/ee">EE477L</a>, USC</p>
<p>Jul-Aug 2023| <a href="https://viterbiundergrad.usc.edu/diversity/center-for-engineering-diversity/vsi/">VSI</a> Program Mentor, USC</p>
<p>Jun-Jul 2023, Jun-Jul 2022 | <a href="https://viterbik12.usc.edu/shine/">SHINE</a> Program Mentor, USC</p>
<p>Aug-Dec 2022, Aug-Dec 2021 | <a href="https://classes.usc.edu/term-20223/classes/ee">EE581</a> Project Mentor, USC</p> -->



<h4 style="text-align:left">HONORS AND AWARDS</h4>
<table>
<tbody>
	<tr>
		<td>2022</td>
		<td>DAC Young Fellow</td>
	</tr>
	<tr>
		<td>2019</td>
		<td>Annenberg Fellowship</td>
	</tr>
</tbody>
</table>

<!-- <p>2022 | DAC Young Fellow</p>
<p>2019 | Annenberg Fellowship</p>
 -->

<h4 style="text-align:left">NEWS</h4>
<table>
<tbody>
	<tr>
		<td>May24</td>
		<td>I will join Intel as a CAD intern.</td>	
	</tr>
	<tr>
		<td>Apr24</td>
		<td>Our paper "<a href="https://ieeexplore.ieee.org/abstract/document/10528687">DECOR: Enhancing Logic Locking Against Machine Learning-Based Attacks</a> has been accepted at International Symposium on Quality Electronic Design (ISQED) 2024.</td>
	</tr>
	<tr>
		<td>Apr23</td>
		<td>Our paper "<a href="https://ieeexplore.ieee.org/abstract/document/10247822">SimLL: Similarity-Based Logic Locking Against Machine Learning Attacks</a>" has been accepted at Design Automation Conference (DAC) 2023.</td>			
	</tr>
	<tr>
		<td>Apr23</td>
		<td>Our collaboration work "<a href="https://www.isqed.org/English/Archives/2023/Technical_Sessions/accepted.html">Unraveling Latch Locking Using Machine Learning, Boolean Analysis, and ILP</a>" with <a href="https://sites.usc.edu/eessc/">Prof. Beerel's group</a> has been accepted at International Symposium on Quality Electronic Design (ISQED) 2023.</td>
	</tr>
	<tr>
		<td>Mar23</td>
		<td>Our paper "<a href="https://ieeexplore.ieee.org/document/10061617">On the Security of Sequential Logic Locking Against Oracle-Guided Attacks</a>" has been published at IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems (TCAD).</td>
	</tr>
	<tr>
		<td>Apr22</td>
		<td>I have been selected to participate in the Young Fellows program promoted by the 59h Design Automation Conference (DAC).</td>
	</tr>
</tbody>
</table>

{% include footer.html %}