/* controls the style on the pages using the 'page' layout, for example, the homepage */
.page
    margin-top: 15rem

    h1
        text-align: center
        margin-bottom: 3rem
        margin-top: 6rem
    h3
        margin-bottom: 1rem
        margin-top: 2rem
    p
        margin: 0
        font-size: 1.4rem
        font-family: $fontSerif

    /* controls the font style in the top tab navigator */
    .nav
        a
            font-family: $fontSans

.blog_p
    margin: 2rem auto
    font-size: 1.4rem

.about
    img
        width: 70%
        margin: 3rem auto
        display: block
        border-radius: 100%



