/* controls the style on the pages using the 'page' layout, for example, the homepage */
.page
    margin-top: 15rem

    h1
        text-align: center
    p
        font-size: 1.4rem
        font-family: $fontSerif

.blog_p
    margin: 2rem auto
    font-size: 1.4rem

.about
    img
        width: 70%
        margin: 3rem auto
        display: block
        border-radius: 100%



