.post
    margin-top: 125px
    //margin-bottom: 2rem

    > .title
        text-align: center
        margin-bottom: 2rem

    > .date,
    > .post-tags
        color: $gama
        font-weight: 300
        font-size: 1.4rem
        text-transform: uppercase
        text-align: center
        display: block
        margin-bottom: 6rem
        letter-spacing: 1px
        -webkit-font-smoothing: antialiased
        text-rendering: optimizeLegibility

    > .date
        margin-bottom: 1.5rem

    > .post-tags > .item
        padding: 2px 8px
        border-radius: 3px
        font-size: 1.1rem
        background: $epsilon
        color: $alpha
        letter-spacing: 1px
        margin: 3px 1px
        text-decoration: none
        display: inline-block

    // general style
    > h2,
    > h3,
    > h4
        margin-top: 40px

        a
            text-decoration: none

    > .title-image
        //max-height: 120px
        display: block
        margin: 0 auto

    > .blog-navigation
        font-size: 1.4rem
        display: block
        width: auto
        overflow: hidden
        a
            display: block
            width: 50%
            float: left
            margin: 1em 0
        .next
            text-align: right

.mypost
  background-color: $white
  margin-bottom: 1.5rem
  header
    position: relative
    overflow: hidden
    margin-bottom: 3rem
    img
      width: 100%
      max-height: 500px
      vertical-align: middle
    .mypost_description
      position: absolute
      left: 0
      bottom: 0
    .mypost_meta
      display: inline-block
      text-tranform: uppercase
      padding: 0.5rem 1rem
      font-size: 1.1rem
      margin: 0
      color: #ffffff
      background-color: #20a0ff
    .mypost_title
      padding: 1rem
      font-size: 2rem
      margin: 0
      color: #202020
      background-color: #20a000

.kxpost 
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 11rem;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
          box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);

.kxpost .post-thumbnail {
  width: 30%;
  max-width: 100%;
  min-height: 11rem;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
}

.kxpost .post-content {
  padding: 1rem;
  width: 70%;
}

.kxpost .post-content .post-title {
  margin: 0 0 10px;
  font-size: 30px;
  font-weight: 400;
}

.kxpost .post-content .post-title a {
  font-family: 'PT Serif', serif;
  text-decoration: none;
  color: #263959;
}

.kxpost .post-content p {
  margin-top: 0;
}